@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    height: auto;
    left: 0;
    top: 5px;
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    text-indent:-999em;
    width: 20px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #f5f5f5;
    height: initial;
    aspect-ratio: 1;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 50%;
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3;
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 50%;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
}


/* 프로젝트 디자인 시스템 커스터마이징 */
html .pika-single {
    font-family: 'Pretendard GOV', 'Paperlogy', sans-serif;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    color: #2d2d2d;
}

html .pika-single.bottom-aligned {
    margin-top: 8px;
}

html .pika-single.top-aligned {
    margin-top: -8px;
}

html .pika-single.is-bound {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15);
}

html .pika-lendar {
    width: 280px;
    margin: 16px;
}

html .pika-title {
    margin-bottom: 12px;
}

html .pika-label {
    margin: 0 5px;
    padding: 8px 18px 8px 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: #2d2d2d;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

html .pika-prev,
html .pika-next {
    opacity: 1;
    background-size: 8px;
    width: 24px;
    height: 36px;
}

html .pika-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7L7 13' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

html .pika-next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L1 13' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

html .pika-prev:hover,
html .pika-next:hover {
    opacity: 0.8;
}

html .pika-prev.is-disabled,
html .pika-next.is-disabled {
    opacity: 0.2;
}

html .pika-table {
    margin-top: 8px;
}

html .pika-table th {
    color: #555;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 8px;
}

html .pika-button {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px;
    color: #2d2d2d;
    background: #fff;
    border-radius: 50%;
    transition: all 0.2s ease;
}

html .pika-button:hover {
    background-color: #F3F9FE;
    color: #2E6FE4;
}

html .is-today .pika-button {
    color: #2E6FE4;
    font-weight: 600;
}

html .is-selected .pika-button {
    color: #fff;
    font-weight: 600;
    background: #2E6FE4;
    box-shadow: none;
}

html .is-selected .pika-button:hover {
    background-color: rgb(38, 103, 214);
    color: #fff;
}

html .is-disabled .pika-button {
    color: #999;
    opacity: 0.4;
}

html .is-outside-current-month .pika-button {
    color: #999;
    opacity: 0.4;
}

html .is-startrange .pika-button,
html .is-endrange .pika-button {
    color: #fff;
    background: #2E6FE4;
    font-weight: 600;
}

html .is-inrange .pika-button {
    background: #F3F9FE;
    color: #2E6FE4;
}
@media screen and (max-width: 1100px) {
    html .pika-single {
        border-radius: 5px;
        left:50% !important;
        transform: translateX(-50%);
    }
    html .pika-lendar {
        width:calc(100vw - 74px);
        max-width: 330px;
        margin:0;
        padding:12px;
    }
    html .pika-label{
        font-size:1.7rem;
    }
    html .pika-table th{
        font-size:1.5rem;
    }
    html .pika-button{
        padding:7px;
        font-size:1.5rem;
    }
}